<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/addfriend-style.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/addfriend-style.css" media="screen" />
    <title>Add a friend</title>
</head>
<body>
<div id="upper-block">
    <table>
        <tr>
            <td>
                <div th:unless="${logged}">
                    <form action="/login" th:method="get">
                        <input type="submit" class="submit" value="Log in">
                    </form>
                </div>
            </td>
            <td>
                <div th:unless="${logged}">
                    <form action="/signup" th:method="get">
                        <input type="submit" class="submit" value="Sign up">
                    </form>
                </div>
            </td>
            <td>
                <div th:if="${logged}">
                    <form th:action="@{/logout}" th:method="post">
                        <input type="submit" class="submit" value="Log out">
                    </form>
                </div>
            </td>
            <td id="username">
                <a th:href="@{/userpage}">
                    <label  th:text="${username}"></label>
                </a>
            </td>
        </tr>
    </table>
</div>
<form id="addfriendform" th:object="${user}" th:action="@{/addfriend}" th:method="post">
    Name of a friend: <input type="text" class="text-input" name="username">
    <input id="save-button" type="submit" class="submit" value="Add">
    <div id="error" th:if="${param.error}">
        Can't find that name
        <br>or this user already in your friendlist
        <br>or you just tryna add yourself LUL
    </div>
</form>
</body>
</html>