<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:replace="main-template::style"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/addfriend-style.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/addfriend-style.css" media="screen" />
    <title>Add a friend</title>
</head>
<body>
<div th:replace="main-template::header"/>
<form id="addfriendform" th:object="${user}" th:action="@{/addfriend}" th:method="post">
    Name of a friend: <input type="text" class="text-input" name="username">
    <input id="save-button" type="submit" class="submit" value="Add">
    <div id="error" th:if="${param.error}">
        Can't find that name
        <br>or this user already in your friendlist
        <br>or you just tryna add yourself LUL
    </div>
</form>
</body>
</html>