<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:replace="main-template::style"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/createnote-style.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/createnote-style.css" media="screen" />
    <title>Create note</title>
</head>
<body>
<div th:replace="main-template::header"/>
    <form id="noteform" th:object="${note}" th:action="@{/createnote}" th:method="post">
        <textarea rows="20" cols="100" maxlength="2000" minlength="1" id="text" name="text"></textarea>
        <br>
        <input id="save-button" type="submit" class="submit" value="save">
    </form>
</body>
</html>