<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:replace="main-template::style"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/edit-style.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/edit-style.css" media="screen" />
    <title>DeathNotes</title>
</head>
<body>
<div th:replace="main-template::header"/>
<form id="noteform" th:object="${note}" th:action="@{'/note/' + ${note.getId()} + '/edit'}" th:method="post">
    <textarea rows="20" cols="100" maxlength="2000" minlength="1" id="text" name="text" th:text="${note.getText()}"></textarea>
    <br>
    <input id="save-button" type="submit" class="submit" value="update">
</form>
</body>
</html>