<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:fragment="bootstrapcss" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script th:fragment="jquery" src="https://code.jquery.com/jquery-3.0.0.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script th:fragment="bootstrapjs" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link th:fragment="style" rel="stylesheet" type="text/css" th:href="@{/css/main-style.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/main-style.css" media="screen" />
</head>
<body>
<div th:fragment="header" id="upper-block">
    <table>
        <tr>
            <td>
                <div th:unless="${logged}">
                    <form action="/login" th:method="get">
                        <input type="submit" class="submit" value="Log in">
                    </form>
                </div>
            </td>
            <td>
                <div th:unless="${logged}">
                    <form action="/signup" th:method="get">
                        <input type="submit" class="submit" value="Sign up">
                    </form>
                </div>
            </td>
            <td>
                <div th:if="${logged}">
                    <form th:action="@{/logout}" th:method="post">
                        <input type="submit" class="submit" value="Log out">
                    </form>
                </div>
            </td>
            <td>
                <div th:if="${logged}" id="add-friend-button">
                    <form action="/addfriend" th:method="get">
                        <input type="submit" class="submit"  value="Add a new friend">
                    </form>
                </div>
            </td>
            <td id="username">
                <a th:href="@{/userpage}">
                    <label  th:text="${username}"></label>
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>