<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu-style.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/menu-style.css" media="screen" />
    <title>DeathNotes</title>
</head>
<body>
<div id="upper-block">
    <table>
        <tr>
            <td>
                <div th:unless="${logged}">
                    <form action="/login" th:method="get">
                        <input type="submit" class="submit" value="Log in">
                    </form>
                </div>
            </td>
            <td>
                <div th:unless="${logged}">
                    <form action="/signup" th:method="get">
                        <input type="submit" class="submit" value="Sign up">
                    </form>
                </div>
            </td>
            <td>
                <div th:if="${logged}">
                    <form th:action="@{/logout}" th:method="post">
                        <input type="submit" class="submit" value="Log out">
                    </form>
                </div>
            </td>
            <td id="username">
                    <a th:href="@{/userpage}">
                        <label  th:text="${username}"></label>
                    </a>
            </td>
        </tr>
    </table>
</div>
<div>
    <div  th:if="(${logged}) and (${hasmessage})" id="left-mini-button">
        <label id="left-mini-button-text">Add a note</label>
        <a id="plus-inside-left-mini-button" class="add-note-button" th:href="@{/createnote}">+</a>
    </div>

    <div  th:if="(${logged}) and (${hasdictionary})" id="right-mini-button">
        <label id="right-mini-button-text">Add a dictionary</label>
        <a id="plus-inside-right-mini-button" class="add-dictionary-button" th:href="@{/createnote}">+</a>
    </div>
</div>
<br>
<div th:if="${hasmessage}" id="notes-div" th:each="note : ${notes}">
    <div class="note-div">
        <label  th:text="${note.getText()}"></label>
    </div>
</div>
<div  th:if="${logged}" th:unless="${hasmessage}" class="add-note-button" id="left-big-button">
    <div id="left-big-button-upper-text">Add a new note</div>
    <a id="plus-inside-left-big-button" th:href="@{/createnote}">+</a>
</div>
<div  th:if="${logged}" th:unless="${hasdictionary}" class="add-dictionary-button" id="right-big-button">
    <div id="right-big-button-upper-text">Add a new dictionary</div>
    <a id="plus-inside-right-big-button" th:href="@{/createdictionary}">+</a>
</div>
</body>
</html>