<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:replace="main-template::style"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu-style.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/menu-style.css" media="screen" />
    <title>DeathNotes</title>
</head>
<body>
<div th:replace="main-template::header"/>
<div id="container" th:if="${logged}">
    <div id="notes">
            <div  th:if="(${logged}) and (${hasmessage})" id="note-mini-button">
                <label id="note-mini-button-text">Add a note</label>
                <a id="plus-inside-note-mini-button" class="add-note-button" th:href="@{/createnote}">+</a>
            </div>
        <div  th:if="${logged}" th:unless="${hasmessage}" class="add-note-button" id="note-big-button">
            <div id="note-big-button-text">Add a new note</div>
            <a id="plus-inside-note-big-button" th:href="@{/createnote}">+</a>
        </div>
        <div th:if="${hasmessage}" class="notes-div" th:each="note,counter : ${notes}">
            <div class="note">
                <div class="note-edit-div">
                    <form th:object="${note}" th:action="@{'/note/' + ${counter.index} + '/delete'}" th:method="post">
                        <input class="red-cross" type="submit" value="x">
                    </form>
                    <a class="edit" th:href="@{'/note/' + ${counter.index} + '/edit'}">
                        Edit
                    </a>
                </div>
                <div class="note-div">
                    <label class="note-text" th:text="${note.getText()}"></label>
                </div>
            </div>
        </div>
    </div>
    <div id="dictionaries">
        <div  th:if="(${logged}) and (${hasdictionary})" id="dictionary-mini-button">
            <label id="dictionary-mini-button-text">Add a dictionary</label>
            <a id="plus-inside-dictionary-mini-button" class="add-dictionary-button" th:href="@{/createdictionary}">+</a>
        </div>
        <div  th:if="${logged}" th:unless="${hasdictionary}" class="add-dictionary-button" id="dictionary-big-button">
            <div id="dictionary-big-button-upper-text">Add a new dictionary</div>
            <a id="plus-inside-dictionary-big-button" th:href="@{/createdictionary}">+</a>
        </div>
        <div th:if="${hasdictionary}" id="dictionaries-div" th:each="dictionary,outercounter : ${dictionaries}">
            <div class="dictionary">
                <div class="dictionary-edit-div">
                    <form th:object="${dictionary}" th:action="@{'/dictionary/' + ${outercounter.index} + '/delete'}" th:method="post">
                        <input class="red-cross" type="submit" value="x">
                    </form>
                    <label class="dictionary-name" th:text="${dictionary.getName()}"></label>
                </div>
                <div class="pairs-div" th:each="pair,innercounter : ${dictionary.getDefinitions()}">
                    <div id="pair-edit-div">
                        <form th:object="${pair}" th:action="@{'/dictionary/' + ${outercounter.index} + '/pair/' + ${innercounter.index} + '/delete'}" th:method="post">
                            <input class="red-cross" type="submit" value="x">
                        </form>
                        <a class="edit" th:href="@{'/dictionary/' + ${outercounter.index} + '/pair/' + ${innercounter.index} + '/edit'}">
                            Edit
                        </a>
                    </div>
                    <div class="pair-div">
                        <div class="key-div">
                            <label class="key" th:text="${pair.getKey()}"></label>
                        </div>
                        <div class="value-div">
                            <label class="value" th:text="${pair.getValue()}"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>