#noteform {
    position:absolute;
    top:20%;
    left:5%;
}

textarea {
    background: linear-gradient(60deg, #FFE66D, #fdffca);
    border-radius: 5px;
    resize: none;
    color: black;
    font-size: 20px;
}

#save-button {
    height: 60px;
    width: 200px;
    font-size: 40px;
}