.add-note-button {
    text-align: center;

    border-radius: 50%;
    background: linear-gradient(60deg, #D8125A, #FFBC42);
}

.add-dictionary-button {
    text-align: center;

    border-radius: 50%;
    background: linear-gradient(60deg, #003457, #1C875C);
}

#note-big-button {
    width: 320px;
    height: 320px;
    margin: 30%;
}

#note-big-button-text {
    position: relative;
    top: -7%;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: azure;
    font-size: 20px;
}

#plus-inside-note-big-button {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: azure;
    font-size: 250px;
}

#dictionary-big-button {
    width: 320px;
    height: 320px;
    margin: 30%;
}

#dictionary-big-button-upper-text {
    position: relative;
    top: -7%;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: azure;
    font-size: 20px;
}

#plus-inside-dictionary-big-button {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: azure;
    font-size: 250px;
}

#note-mini-button {
    position: relative;
    display: inline-block;
    align-content: end;
    left: 3%;
}

#note-mini-button-text {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: azure;
    font-size: 20px;
}

#plus-inside-note-mini-button {
    width: 40px;
    height: 40px;
    display: block;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: azure;
    font-size: 35px;
}

#dictionary-mini-button {
    position: relative;
    display: inline-block;
    align-content: end;
    left: 3%;
}

#dictionary-mini-button-text {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: azure;
    font-size: 20px;
}

#plus-inside-dictionary-mini-button {
    width: 40px;
    height: 40px;
    display: block;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: azure;
    font-size: 35px;
}

.notes-div {
    margin: 15px;
    padding-right: 10%;
}

label {
    white-space: pre-wrap;
}

.red-cross {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-color: transparent;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: azure;
    background-color: #D8125A;
    font-size: 12px;
    margin: 5px;
}

.edit {
    border-radius: 50%;
    border-color: transparent;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: azure;
    font-size: 20px;
    margin: 5px;
}

.key {
    color: black;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}

.key-div {
    overflow-wrap: break-word;
    background: linear-gradient(60deg, #FFE66D, #fdffca);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.value-div {
    overflow-wrap: break-word;
    background: linear-gradient(60deg, #FFE66D, #fdffca);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.value {
    color: black;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}

#dictionaries-div {
    margin: 15px;
    padding-right: 10%;
}

#notes {
    margin-top: 50px;
    height: fit-content;
    width: 90%;
    min-width: 500px;
}

#dictionaries {
    margin-top: 50px;
    width: 90%;
    min-width: 500px;
    height: fit-content;
}

#container {
    position: relative;
    left: 3%;
    width: 94%;
    min-height: calc(100% - 110px);
    max-height: fit-content;
    display: flex;
    background: #475A67;
}

.note-div {
    padding: 5px;
    margin: 5px;
    overflow-wrap: break-word;
    background: linear-gradient(60deg, #FFE66D, #fdffca);
    border-radius: 5px;
}

.note-text {
    color: black;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    overflow-wrap: break-word;
}

.note {
    background: #1F3646;
}

.dictionary {
    background: #1F3646;
}

.dictionary-name {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: azure;
    font-size: 45px;
    overflow-wrap: break-word;
}